/Backup/
/Debug/
/Release/
/.vs/
/x64/
/MinArea.dir/
/build/*
*.egg-info/
venv/
env/
env39/
env31[0-9]/
.idea/
/dist/
**/.vs/
*.pyd
src/minimal-surface/code/eikonal/Debug.h
src/minimal-surface/code/_minimal_surface.cpp